node_modules/
.env
.env.dev
.env.neon
.DS_Store
dist/
build/
*.log
*legacy/
.next/
AppInstaller.msixbundle
node_modules
.next
dist
.env
.env.*
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
